#three-boxes
  background: #eee

  a
    color: $color-primary
    text-decoration: underline
    font-size: 1.4rem

    &:hover
      color: darken($color-primary, 10%)
      transform: scale(1.1)

  button
    margin: 0 auto
    display: block

  .inner_container
    display: flex
    justify-content: center
    align-content: center
    flex-wrap: wrap
    padding: 50px

    .box
      background: #F3F3F3
      border: 1px solid #BDBDBD
      padding: 20px
      margin: 20px
      width: 350px
      min-width: 350px
      border-radius: 10px

    .box:nth-child(1)
      p:first-of-type
        font-size: 24px
        font-weight: 600
        margin-bottom: 20px
        color: #F6572B

    .box:nth-child(2)
      p:first-of-type
        font-size: 24px
        font-weight: 600
        margin-bottom: 20px
        color: #AC0069

    .box:nth-child(3)
      p:first-of-type
        font-size: 24px
        font-weight: 600
        margin-bottom: 20px
        color: #FFDE3D

    .box:nth-child(4)
      p:first-of-type
        font-size: 24px
        font-weight: 600
        margin-bottom: 20px
        color: #009DD4
